/*!*********************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/scss/editor.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************/
body {
  background-color: #101010;
  color: #c2c2c2;
  -webkit-animation: fadein 3s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 3s;
}

.page-content, .page-header {
  margin: 4rem auto;
}
.page-content > *, .page-header > * {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
  width: 1200px;
}

.front-page article .entry-content {
  margin: 0 auto 4rem auto;
}

article .entry-content {
  margin: 4rem auto;
}
article .entry-content > * {
  margin-left: auto;
  margin-right: auto;
}
article .entry-content > *:not(.alignfull):not(.alignwide) {
  max-width: calc(100% - 48px);
  width: 1200px;
}
@media (max-width: 768px) {
  article .entry-content > *:not(.alignfull):not(.alignwide) {
    width: 600px;
  }
}
article .entry-content > .alignwide {
  width: calc(1200px + 4rem);
}
article .entry-header > * {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
}
article .entry-footer .edit-link {
  display: none;
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.5);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
  outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft,
.alignright {
  max-width: 580px !important;
  /* Let's work to make this !important unnecessary */
}

.alignleft img,
.alignright img,
.alignleft figcaption,
.alignright figcaption {
  max-width: 50%;
  width: 50%;
}

.alignleft figcaption {
  clear: left;
}

.alignright figcaption {
  clear: right;
}

.alignleft img,
.alignleft figcaption {
  float: left;
  margin-right: 1.5em;
}

.alignright img,
.alignright figcaption {
  float: right;
  margin-left: 1.5em;
}

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2.44em;
  margin: 0.67em 0;
  line-height: 1.4;
}

h2 {
  font-size: 1.95em;
  line-height: 1.4;
}

h3 {
  font-size: 1.56em;
  line-height: 1.4;
}

h4 {
  font-size: 1.25em;
  line-height: 1.5;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 0.875rem;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

body {
  font-family: "Open Sans", "Arial", sans-serif;
}
body p {
  line-height: 1.5;
}

h1 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

h3 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

h4 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

h5 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

h6 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

h3 {
  font-size: 1rem;
  letter-spacing: 0.1em;
}

h6 {
  font-size: 14px;
}

.uagb-post-grid .uagb-post__items article .uagb-post__inner-wrap {
  height: 400px;
}
.uagb-post-grid .uagb-post__title a {
  font-weight: 600;
  letter-spacing: 0.1em;
  font-size: 14px;
}

.header-cover {
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}
.single .header-cover {
  height: 100vh;
  background-position: top center;
  background-size: contain;
  background-attachment: initial;
}

.entry-header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  width: unset;
}
.single .entry-header {
  align-items: center;
}
.entry-header p {
  margin-bottom: 0;
}

.entry-title, h1 {
  margin: 1rem;
  background-color: #000;
  opacity: 0.7;
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: 0.25rem 2rem;
  letter-spacing: 0.1em;
}
.single .entry-title, .single h1 {
  -ms-grid-row-align: end;
      align-self: end;
}
@media (min-width: 768px) {
  .entry-title, h1 {
    font-size: 4rem;
  }
}

.wp-block-button__link {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  padding: 0.75rem 1.5rem;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  font-weight: 500;
}
.wp-block-button__link:hover {
  transform: translateY(-0.25rem);
}
.is-style-white .wp-block-button__link {
  background: #c2c2c2;
  color: #101010;
  border: 2px solid #c2c2c2;
}
.is-style-white .wp-block-button__link:hover {
  background: transparent;
  color: #c2c2c2;
  border: 2px solid #c2c2c2;
  text-shadow: 1px 1px #080808;
}
.is-style-white .wp-block-button__link:focus {
  background-color: #505050;
}
.is-style-black .wp-block-button__link {
  background-color: #080808;
  color: #c2c2c2;
}
.is-style-black .wp-block-button__link:hover {
  background: #505050;
  border: 2px solid #505050;
}
.is-style-black .wp-block-button__link:focus {
  background-color: #000;
}

img {
  height: auto;
  max-width: 100%;
}

figure {
  margin: 0;
}
figure img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
}

article.container {
  max-width: calc(100% - 48px);
  width: 1200px;
  padding: 0;
}
@media (min-width: 768px) {
  .archive article .entry-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
  }
}
article .entry-content > div {
  width: 100%;
  padding: 0;
}
article .entry-content > div figure {
  overflow: hidden;
}
article .entry-content > div img {
  transition: all 0.3s ease-in;
}
article .entry-content > div img:hover {
  transform: scale(1.1);
  opacity: 0.3;
}

.front-page__slider .slide-content h1 {
  font-weight: 700;
  letter-spacing: 0.1em;
  font-size: 36px;
  font-family: "Lato", sans-serif;
  color: #c2c2c2;
  margin-bottom: 4rem;
}
@media (min-width: 768px) {
  .front-page__slider .slide-content h1 {
    font-size: 4rem;
  }
}

.uagb-post-grid.front-page__post-grid .uagb-post__inner-wrap {
  background: transparent;
}
.uagb-post-grid.front-page__post-grid .uagb-post__image {
  overflow: hidden;
}
.uagb-post-grid.front-page__post-grid .uagb-post__image img {
  height: 225px;
  transition: all 0.3s;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}
.uagb-post-grid.front-page__post-grid .uagb-post__image img:hover {
  opacity: 0.3;
  transform: scale(1.1);
}
.uagb-post-grid.front-page__post-grid .uagb-post__title {
  margin-top: 2rem;
  text-align: center;
  text-transform: uppercase;
}

.post-navigation {
  max-width: calc(100% - 48px);
  width: 1200px;
  margin: 0 auto 4rem;
}
.post-navigation .nav-links {
  display: flex;
  justify-content: space-between;
}

.entry-footer {
  margin: 0 auto 1.5rem auto;
  margin-right: auto;
  max-width: calc(100% - 48px);
  width: 1200px;
}
