.header-cover {
  height: 60vh;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  // filter: grayscale(100%);
  background-size: cover;
  background-attachment: fixed;

  .single & {
    height: 100vh;
    background-position: top center;
    // filter: grayscale(100%);
    background-size: contain;
    background-attachment: initial;
  }
}

.entry-header {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  width: unset;
  
  .single & {
    align-items: center;
  }
  
  p {
    margin-bottom: 0;
  }
}

.entry-title, h1 {
  margin: $pt-m;
  background-color: $black;
  opacity: .7;
  font-weight: $font-weight-bold;
  font-size: 36px;
  text-transform: uppercase;
  text-align: center;
  padding: $pt-xxs $pt-l;
  letter-spacing: .1em;

  .single & {
    align-self: end;
  }

  @media (min-width: 768px) {
    font-size: $pt-xl;
  }
}