footer.site-footer {
  // display: none;
  background-color: $white;
  color: $bg-darker;
  min-height: 30vh;
  padding-top: $pt-xl;
  padding-bottom: $pt-xm;
  margin-bottom: 0; 
  
  > *:not(.alignwide):not(.alignfull) {
    width: $content__width;
    max-width: $site__width;
    margin: auto;
  }

  a {
    color: $grey-darker;
    text-transform: uppercase;
    font-size: 14px;

    &:hover {
      color: $grey-lighter;
    }
  }

  .site-info {
    display: grid;
		grid-gap: #{$pt-l};
    grid-column-start: auto;
		align-items: start;
		justify-content: space-between;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr) );
    padding-bottom: $pt-xl;
    width: $site__width;

    h2 {
      text-transform: uppercase;

      @media (min-width: 768px) {
        max-width: 50%;
      }
    }

    h4 {
      text-transform: uppercase;
      font-size: 18px;
    }
  }

  .copyright {
    // grid-column: 1 / -1;
    margin: auto;

    p {
      text-align: center;
      font-size: 14px;
    }
  }
}