
.site-header {
  // position: relative;
  // top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  // height: 0;
  background: $bg-color;
  width: $site__width;
  max-width: $content__width;
  margin: 0 auto;
}

.site-branding {
  transition: all .2s ease-in-out;
  padding: 0;
  z-index: 99;

  .site-title {
    margin: 0;
    a {
      text-decoration: none;
      font-size: 20px;
      font-size: $pt-l;
      font-weight: 700;
		  font-family: $logo-font;
      filter: drop-shadow(2px 4px 6px $bg-darker);
      transition: color .2s ease-in-out;

      &:hover {
        color: rgb(192, 192, 192);
      }
    }
  }
}