.menu-toggled {
  overflow: hidden;
}

.site-header {
  nav {
    #primary-menu {
      display: none;
    }

    a {
      color: $white;
      text-decoration: none;
      list-style-type: none;
    }

    .menu-toggle {
      background: url(../../assets/images/menu.svg) no-repeat right center;
      border: none;
      z-index: 99;
      font-weight: $font-weight-bold;
      font-size: 15px;
      color: $white;
      width: 110px;
      height: 32px;
      -webkit-transition: transform $transition-time;
      -moz-transition: transform $transition-time;
      -o-transition: transform $transition-time;
      transition: transform $transition-time;
      letter-spacing: .1em;

      &:hover {
        transform: scale(1.05);
      }
    }
  }
}

// All menus.
.menu {
  ul {
    padding-left: 0;

    li {
      list-style-type: none;
      margin-bottom: $pt-xxs;
    }
  }
}

// Main menu toggled open.
.site-header {

  .menu-toggled & {
    height: unset;

    nav {
      // height: 100vh;
      z-index: 99;

      .menu-header-menu-container {
        width: 100vw;
        height: 95vh;
        background: $bg-color;
        position: absolute;
        left: 0;
        top: 5vh;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
      }

      #primary-menu {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        flex: 0 0 100%;

        ul.sub-menu {
          display: none;
        }

        li {
          width: 100vw;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;

          &.current-menu-item:not( .menu-item-has-children ) {
            text-decoration: line-through;

            a {
              cursor: default;
            }
          }
        }

        ul, li {
          transition: all $transition-time ease-in-out;
        }

        a {
          text-transform: uppercase;
          transition: color $transition-time ease-in-out;
          font-size: $pt-l;
          font-weight: 900;
          font-family: $heading-font;

          @media (min-width: 768px) {
            font-size: $pt-xl;
          }
        }

        ul, li {
          &:not( .current-menu-item ) {

            &:hover {
              background-color: $white;

              a {
                color: $bg-color;
              }
            }
          }
        }

        li.menu-item-has-children:hover {
          a {
            font-size: 0;
          }
          
          li {
            height: 0;
          }

          ul.sub-menu {
            display: inline-flex;
            justify-content: space-evenly;

            li {
              width: unset;
              margin: 0 $pt-xm;
            }

            a {
              font-size: 20px;

              &:not( .current-menu-item ):hover {
                text-decoration: underline;
              }
            }
          }
        }
      }

      .menu-toggle {
        background: url(../../assets/images/menu-exit.svg) no-repeat right center;
        -webkit-transition: transform $transition-time;
        -moz-transition: transform $transition-time;
        -o-transition: transform $transition-time;
        transition: transform $transition-time;

        &:hover {
          transform: scale(.95);
        }
      }
    }
  }
}
