body {
	background-color: $bg-color;
	color: $body-color;

	-webkit-animation: fadein 3s; /* Safari, Chrome and Opera > 12.1 */
	-moz-animation: fadein 3s; /* Firefox < 16 */
	-ms-animation: fadein 3s; /* Internet Explorer */
	-o-animation: fadein 3s; /* Opera < 12.1 */
	animation: fadein 3s;
}

.page-content, .page-header {
	margin: $pt-xl auto;
	> * {
		margin-left: auto;
		margin-right: auto;
		max-width: $site__width;
		width: $content__width;
	}
}
	
.front-page article .entry-content {
	margin: 0 auto $pt-xl auto;
}

article {
	.entry-content {
		margin: $pt-xl auto;

		> * {
			margin-left: auto;
			margin-right: auto;
		}

		> *:not( .alignfull ):not( .alignwide ) {
			max-width: $site__width;
			width: $content__width;

			@media (max-width: 768px) {
				width: $content__width-mobile;
			}
		}

		> .alignwide {
			width: calc( $content__width + $pt-xl );
		}
  }

	.entry-header {
		> * {
			margin-left: auto;
			margin-right: auto;
			max-width: $site__width;
		}
	}

	.entry-footer .edit-link {
		display: none;
	}
}