$bg-color: #101010;
$bg-darker:	#080808;

$black: #000;
$white: #fff;
// $white-darker: #f5f5f5;
$white-darker: #c2c2c2;
$grey: #505050;
$grey-darker: #282828;
$grey-lighter: #999999;

$focus-color: #3ed3f5;
$error-color: #ff4d4d;

$pt-xxs: 0.25rem;
$pt-xs: 0.5rem;
$pt-s: 0.75rem;
$pt-m: 1rem;
$pt-xm: 1.5rem; 
$pt-l: 2rem;
$pt-xl: 4rem;
$pt-xxl: 8rem;

$site__width: calc(100% - 48px);
$content__width: 1200px;
$content__width-mobile: 600px;
$content__width-page: 600px;

$body-font: 'Open Sans', 'Arial', sans-serif;
$body-font-size: $pt-m;
$body-font-weight: 400;
$body-color: $white-darker;

$body-line-height: 1.5;

$logo-font: 'Grechen Fuemen', cursive;
$heading-font: 'Lato', sans-serif;
$heading-font-size: $pt-m;
$heading-font-weight: 700;
$heading-line-height: 1.5;

$font-weight-medium: 500;
$font-weight-medium-bold: 600;
$font-weight-bold: 700;
$font-weight-xbold: 900;

$transition-time: .3s;