.front-page__slider {
	.slide-content {
		h1 {
			font-weight: $font-weight-bold;
			letter-spacing: 0.1em;
			font-size: 36px;
			font-family: $heading-font;
			color: $white-darker;
			margin-bottom: $pt-xl;

			@media (min-width: 768px) {
				font-size: $pt-xl;
			}
		}
	}
}

.uagb-post-grid.front-page__post-grid {
	.uagb-post {
		&__inner-wrap {
			background: transparent;
		}

		&__image {
			overflow: hidden;

			img {
				height: 225px;
				transition: all $transition-time;
				overflow: hidden;
				object-fit: cover;

				&:hover {
					opacity: .3;
					transform: scale(1.1);
				}
			}
		}

		&__title {
			margin-top: $pt-l;
			text-align: center;
			text-transform: uppercase;
		}
	}
}