form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;

  &.comment-form {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
  }

  input, textarea {
    background-color: $bg-darker;
    color: $white-darker;
    border: 1px solid $white-darker;
    display: inline-block;
    padding: $pt-s $pt-m;
    box-sizing: border-box;
    line-height: $body-line-height;
    letter-spacing: 0.3em;
    border-radius: $pt-xxs;
    width: 100%;

    &:focus {
      outline: none;
      box-shadow: 1px 1px 11px 1px rgba(172, 172, 172, 0.5);
    }

    &.wpcf7-not-valid {
      border: 1px solid $error-color;
    }

    .wpcf7-not-valid-tip {
      color: $error-color;
    }
  }

  input {
    height: 40px;
  }

  textarea {
    height: 200px;
  }

  label {
    margin-bottom: $pt-xs;
  }

  .wpcf7-submit {
    @include button__style;
    @include button__style-white;
    border-radius: 50px;
    height: unset;

    &:focus {
      border: 2px solid $white;
      box-shadow: none;
    }
  }

  .wpcf7-response-output {
    margin-top: $pt-s;
  }
}